{
* {margin: 0; padding: 0;}
}

#wrapper {
    width: 80%;
    margin: auto;
    }

// <weight>: Use a value from 200 to 700
// <uniquifier>: Use a unique and descriptive class name

  .londrina-sketch-regular {
    font-family: "Londrina Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

header {
  width: 100%;
  margin: auto;
  padding-block: 0%;
}

nav {
  width: 100%;
  margin: auto;
  padding-block: 0%;
}

footer {
  width: 100%;
  margin: auto;
  padding-block: 0%;
}

.columns {float:left;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

h1 {
font-family:"Londrina Sketch", sans-serif;
font-size: 5em;
line-height: 0.5em;
color: rgb(255, 64, 0);
text-transform: capitalize;
padding-top: 5px;
padding-bottom: 5px;

}

h2 {
font-family:"Londrina Sketch", sans-serif;
font-size: 2em;
color: rgb(255, 64, 0);
line-height: 0.5em;
padding-top: 5px;
padding-bottom: 0px;
}

body {
line-height: 1.1em;
font-family: "Homenaje", sans-serif;
font-weight: 100;
padding-left: 25px;
padding-right: 25px;
padding-top: 5px;
padding-bottom: 5px;
text-align: left;
background-repeat: repeat;
background-image: url('yellostar.gif');
color: rgb(0, 0, 0);
}

img {
  width: 200px;
  margin:auto;
  
  padding-block: 0%;
}

a:link {
    border-bottom: 1px rgb(0, 0, 0);
    text-decoration: none;
    color:rgb(0, 0, 0);
}

a:visited {
    border-bottom: 1px rgb(0, 0, 0);
    text-decoration: none;
    color:rgb(0, 0, 0);
}

li a:active {
    text-decoration: underline;
    border-bottom: 1px rgb(0, 0, 0);
    color:rgb(0, 0, 0);
}

li a:hover {
    text-decoration: underline;
    border-bottom: 1px rgb(0, 0, 0);
    color:rgb(255, 87, 10);
}
