* {margin: 0; padding: 0;}

#wrapper {
    width: 80%;
    margin: auto;
    }

    @media only screen and (max-width: 480px) {.column {
      width: 100%;
      float: left;
      margin:0%;
      }
    }

  .londrina-sketch-regular {
    font-family: "Londrina Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.example-grid .column {
  text-align: left;
  border-radius: 100px;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  margin-bottom: 3rem;
  font-weight: 600;
  letter-spacing: .1rem;
}

header {
  width: 100%;
  margin: auto;
  padding-block: 10%;
  font-family:"Londrina Sketch", sans-serif;
font-size: 3em;
color: rgb(255, 64, 0);
line-height: 0.5em;
padding-top: 10px;
padding-bottom: 50px;
}

nav {
  width: 100%;
  margin: auto;
  padding-block: 5%;
}

footer {
  width: 100%;
  margin: auto;
  padding-block: 0%;
}

.columns {float:left;
}
.columns {float:left;}
.col-1 {width: 50%;}
.col-2 {width: 50%;}
.clear-left

h1 {
font-family:"Londrina Sketch", sans-serif;
font-size: 5em;
color: rgb(255, 64, 0);
line-height: 0.5em;
padding-top: 5px;
padding-bottom: 5px;
}

h2 {
font-family:"Londrina Sketch", sans-serif;
font-size: 2em;
color: rgb(255, 64, 0);
line-height: 0.5em;
padding-top: 10px;
padding-bottom: 5px;
}

body {
line-height: 1.1em;
font-family: "Homenaje", sans-serif;
font-weight: 100;
padding-left: 25px;
padding-right: 25px;
padding-top: 5px;
padding-bottom: 5px;
text-align: left;
background-repeat: repeat;
background-image: url('yellostar.gif');
color: rgb(0, 0, 0);
}

img {
  width: 200px;
  margin:auto;
  
  padding-block: 0%;
}

a:link {
    border-bottom: 1px rgb(0, 0, 0);
    text-decoration: none;
    color:rgb(0, 0, 0);
}

a:visited {
    border-bottom: 1px rgb(0, 0, 0);
    text-decoration: none;
    color:rgb(0, 0, 0);
}

li a:active {
    text-decoration: underline;
    border-bottom: 1px rgb(0, 0, 0);
    color:rgb(0, 0, 0);
}

li a:hover {
    text-decoration: underline;
    border-bottom: 1px rgb(0, 0, 0);
    color:rgb(255, 87, 10);
}
