{
* {margin: 0; padding: 0;}
}

#wrapper {
    width: 80%;
    margin: auto;
    }

// <weight>: Use a value from 200 to 700
// <uniquifier>: Use a unique and descriptive class name

.goldman-regular {
    font-family: "Goldman", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .goldman-bold {
    font-family: "Goldman", sans-serif;
    font-weight: 700;
    font-style: normal;
  }  

  .homenaje-regular {
    font-family: "Homenaje", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

h1 {
font-family:"Goldman", sans-serif;
font-size: 4em;
line-height: 0.5em;
color: rgb(205, 17, 0);;
text-transform: capitalize;
padding-top: 5px;
padding-bottom: 5px;

}

h2 {
font-family:"Goldman", sans-serif;
font-size: 2em;
color: rgb(205, 17, 0);
line-height: 0.5em;
padding-top: 5px;
padding-bottom: 5px;
}

body {
line-height: 1.1em;
font-family: "Homenaje", sans-serif;
font-weight: 100;
padding-left: 25px;
padding-right: 25px;
padding-top: 5px;
padding-bottom: 5px;
text-align: left;
background-repeat: repeat;
background-image: url('orange.jpg');
color: rgb(0, 0, 0);
}

a:link {
    border-bottom: 1px rgb(0, 0, 0);
    text-decoration: none;
    color:rgb(0, 0, 0);
}

a:visited {
    border-bottom: 1px rgb(0, 0, 0);
    text-decoration: none;
    color:rgb(0, 0, 0);
}

li a:active {
    text-decoration: underline;
    border-bottom: 1px rgb(0, 0, 0);
    color:rgb(0, 0, 0);
}

li a:hover {
    text-decoration: underline;
    border-bottom: 1px rgb(0, 0, 0);
    color:rgb(255, 87, 10);
}
